* {
  box-sizing: border-box;
}

body{
	background-color: #fee466;
}

.canvas {
	height: 590px;
	width: 1140px;
	left: 90px;
}

.numbers {
 background-image: url("404_2.svg");
 background-repeat: no-repeat;
 background-position: center top;
 margin-top: -40px;
 height: 390px;
 width: 1140px;
 overflow: hidden;
 position: absolute;
 left: 90px;
 z-index: 1;
}

a{
	color: black;
	text-decoration: none;
	cursor: hand;
}

a:hover{
	color: #6A66FE;
}

.text {
	height: 80px;
	width: 700px;
	position: absolute;
	top: 470px;
	left: 293px;
	text-align: center;
	font-size: 30px;
	font-family: "Khula";
	font-weight: 600;
}


#four1 {
	position: absolute;
	background-color: black;
	z-index: 2;
	width: 45px;
	height: 155px;
	left: 320px;
	top: 127px;
}

#four1:hover{
	animation: shake 3s infinite;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

#four2{
	width: 122px;
	height: 43px;
	top: 238px;
	left: 371px;
	z-index: 2;
	position: absolute;
	background-color: black;
	}

#four2:hover{
	animation: shake 4s infinite;
}

#four3{
	position: absolute;
	background-color: black;
	z-index: 2;
	width: 45px;
	height: 104px;
	left: 448px;
	top: 129px;
}

#four3:hover{
	animation: shake 3.5s infinite;
}

#four4{
	position: absolute;
	background-color: black;
	z-index: 2;
	width: 45px;
	height: 112px;
	left: 448px;
	top: 291px;
}

#four4:hover{
	animation: shake 5s infinite;
}


#zero1{
	position: absolute;
	background-color: black;
	z-index: 2;
	width: 45px;
	height: 221px;
	left: 548px;
	top: 127px;
}

#zero1:hover{
	animation: shake 2s infinite;
}

#zero2{
	position: absolute;
	background-color: black;
	z-index: 2;
	width: 120px;
	height: 45px;
	left: 599px;
	top: 127px;
}

#zero2:hover{
	animation: shake 4s infinite;
}

#zero3{
	position: absolute;
	background-color: black;
	z-index: 2;
	width: 44px;
	height: 223px;
	left: 675px;
	top: 177px;
}

#zero3:hover{
	animation: shake 3s infinite;
}

#zero4{
	position: absolute;
	background-color: black;
	z-index: 2;
	width: 121px;
	height: 44px;
	left: 548px;
	top: 356px;
}

#zero4:hover{
	animation: shake 5s infinite;
}



#four1b{
	position: absolute;
	background-color: black;
	z-index: 2;
	width: 45px;
	height: 155px;
	left: 771px;
	top: 127px;
}

#four1b:hover{
	animation: shake 5s infinite;
}

#four2b{
	width: 122px;
	height: 43px;
	top: 239px;
	left: 822px;
	z-index: 2;
	position: absolute;
	background-color: black;
	}

#four2b:hover{
	animation: shake 3s infinite;
}

#four3b{
	position: absolute;
	background-color: black;
	z-index: 2;
	width: 45px;
	height: 104px;
	left: 899px;
	top: 129px;
}

#four3b:hover{
	animation: shake 2s infinite;
}

#four4b{
	position: absolute;
	background-color: black;
	z-index: 2;
	width: 45px;
	height: 112px;
	left: 899px;
	top: 288px;
}

#four4b:hover{
	animation: shake 4s infinite;
}