* {
  box-sizing: border-box;
}

/*microsite version 3*/

body{
	width: 1425px;

}

.mamadiv{
	z-index: 10;
	position: absolute;
	height:100%;
	width:100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 990%;
    line-height: 10%;
    z-index: 12;
    position: fixed;
    text-rendering: optimizeLegibility;
    top: -7%;
}

.intro{
	position: fixed;
	z-index: 15;
	font-family: "Roboto", sans-serif;
	top: 40%;
	left: 42%;
	text-align: center;
	line-height: 45%
}

.maybe{
	font-family: "Roboto", sans-serif;
	background-color: white;
	border-style: solid;
	border-color: #235410;
	border-width: 3px;
	padding: 5px;
	width: 70px;
}

.maybe:hover{
	background-color: #90D1A3;
	opacity: .6;
	border-color: white;
	cursor: cell;
}

.shit{
	position: relative;
	margin-left: -27px;
	margin-right: -51px;
}
.shit2{
	position: relative;
}

.clickable-a{
	width: 6.9%;
	height: 600px;
	position: relative;
	float: left;
	z-index: 14;
	margin-right: 0;
	cursor: pointer;
}

.clickable-b{
	width: 6.9%;
	height: 600px;
	position: relative;
	float: left;
	z-index: 14;
	margin-right: 0;
	cursor: cell;
}

/*.hidingwall{
	width: 105%;
	height: 200px;
	background-color: white;
	position: absolute;
	top: 100%;
	z-index: 11
}*/

.img-a{
	height: 175px;
	width: 275px;
	overflow: hidden;
	position: absolute;
	top: 84%;
	background-position: center;
	z-index:10;
}

.img-b{
	height: 275px;
	width: 175px;
	overflow: hidden;
	position: absolute;
	top: 67%;
	background-position: center;
	z-index:9;
}

.img-c{
	height: 225px;
	width: 225px;
	overflow: hidden;
	position: absolute;
	top: 75.4%;
	background-position: center;
	z-index:8;
}

.button{
	background-color: white;
	border-style: solid;
	border-color: #235410;
	border-width: 3px;
	padding: 7px;
	width: 90px;
	font-family: "Roboto", sans-serif;
	position: fixed;
	left: 46%;
	top: 93%;
	z-index: 15;
}

.button:hover{
background-color: #90D1A3;
opacity: .6;
border-color: white;
}

#pic1{
	background-image: url(images/thm_b1.jpg)

}


#pic2{
	left: 8%;
	background-image: url(images/thm_b2.jpg)
}

#pic3{
	left: 16%;
	background-image: url(images/thm_b25.jpg)
}

#pic4{
	left: 23%;
	background-image: url(images/thm_b13.jpg)
}

#pic5{
	left: 30%;
	background-image: url(images/thm_b5.jpg)
}

#pic6{
	left: 37%;
	background-image: url(images/thm_b6.jpg)
}

#pic7{
	left: 44%;
	background-image: url(images/thm_b7.jpg)
}

#pic8{
	left: 51%;
	background-image: url(images/thm_b8.jpg)
}

#pic9{
	left: 58%;
	background-image: url(images/thm_b9.jpg)
}

#pic10{
	left: 65%;
	background-image: url(images/thm_b10.jpg)
}

#pic11{
	left: 72%;
	background-image: url(images/thm_b11.jpg)
}

#pic12{
	left: 79%;
	background-image: url(images/thm_b12.jpg)
}

#pic13{
	left: 86%;
	background-image: url(images/thm_b22.jpg)
}

#pic14{
	left: 93%;
	background-image: url(images/thm_b14.jpg)
}